body{
    color:#2D3748 ;
}


.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto;
    max-width: none;
    margin: 56px;
    
}

.team{
    text-align: center;
    padding: 16px 24px 16px 24px;
}

.team img{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    
    border-radius: 9999px;
}

.team h3{
    font-weight: bold;
    font-size: 1.25rem;
}

.team p{
    font-size: 0.875rem;
    color: #6b7280;
}