body{
    background-color: #edf2f7;
    color: #2d3748;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* min-width: 767px; */
    
}

img{
    
    height: 1.75rem;
}

ul li{
    display: inline-block;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    
}

ul li a{
    color: black;
}

a{
    text-decoration: none;
    flex: 1 1 0;
}

span{
     text-align: right; 
    flex: 1 1 0;
}

.btn{
    background-color: #3b82f6;
    color: #fff;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    border-radius: 9999px;
}


@media (max-width:789px){
    header{
        flex-direction: column;
        
    }

    header span {
        margin-top: 2rem;
    }
    header ul {
        margin-top: 2rem;
        white-space: nowrap;
        padding-left: 0;
    }
}


